<% include _header %>

<div class="jumbotron">
	<h1>Hello, world!</h1>
	<p>This is a bare-bones interface, provided to play with the <code>resilient-mailer</code> system.</p>
	<p><a href="/messages/new" class="btn btn-primary btn-lg" role="button">Send a Message</a></p>
</div>

<% include _footer %>
